@page "/"

<PageTitle>Index</PageTitle>

<!-- Logo as Header -->
<header>
    <img src="images/logo.jpg" alt="Logo" style="max-width: 100%; height: auto;" />
</header>

<h1>Hello, Premier Ag Solution Team!</h1>

Welcome to your new app.


